*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  color: #fff;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainContainer{
  padding: 10px;
  width: 320px;
  border-radius: 25px;
  background: #242333;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.editor {
  height: 140px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  padding-right: 10px;
  direction: rtl;
  text-align: right;
  outline: none;
}

.keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.1rem;
  margin-top: 20px;
}

.btn {
  height: 65px;
  border: none;
  font-size: 1.4rem;
  background: #302d40;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover{
  background: #4e4949;
  color: rgb(255, 255, 255);
}

.equal{
  background: #ffbb00;
  grid-row: span 2;
  height: auto;
  border-bottom-right-radius: 25px;
}

.btn img {
  width: 28px;
  height: 28px;
  pointer-events: none;
}

.operator {
  background: #38394e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operator:hover {
  background: #5a4a8a;
}

.equal:hover{
  background: #5a4a8a;
}

.action{
  border-top-left-radius: 25px;
}

.clear{
  border-top-right-radius: 25px;
}

.percentage{
  border-bottom-left-radius: 25px;
}